# Python Basics

## Topics :

1. Variables
2. Tuples
3. Datatypes
4. Indexing
5. Slicing
6. Conditional Statement
7. Looping Statement
8. Functions
9. List Comprehension

### 1. Varibles - a location/container which stores the data

In [15]:
a= 10  # here 10 is literal

a

# Liternal - the value which you store on a variable is known as literal

10

### Rule to define a variable:

1. keywords / inbuild functions cannot be assigned to the variable 

##### keywords / inbuild functions like:

`-` print
<br>
`-` type
<br>
`-` len
<br>
`-` break
<br>
`-` expect
<br>
`-` sum
<br>
`-` class
<br>
`-` finally 
<br>
`-` and
<br>
`-` continue
<br>
`-` sa
<br>
`-` in
<br>
`-` def
<br>
`-` del
<br>
`-` global 

2. Variable can start with a letter or a '_' but not with a number

3. Variables cannot have any special symbols rather than '_'

In [2]:
# NOTE: Python is a case sensitive language

### Static variable input and Dynamic varialbe input

Static - a fixed value to the variable
<br>
Dynamic - a changing value in each and every execution

In [3]:
# Static

a = 20
b = 30 

c = a+b
print(c)

50

In [4]:
# Dynamic

#Syntax - variable name = input()

In [1]:
age_str = input("enter your age: ")       # intput will be string

enter your age: 22

In [2]:
print(age_str)

type(age_str)

22

str

In [7]:
age_integer= int(input("enter your 12th passing year: "))      # intput will be integer

enter your 12th passing year: 2000

In [9]:
print(age_integer)

type(age_integer)

2000

int

In [10]:
float1 = float(input("Enter your float/decimal value: "))

Enter your float/decimal value: 77.7

In [11]:
type(float1)

float

In [16]:
# bool - true or flase, it means it check weather your variable have any input or not

q= bool(input("enter your value: "))

enter your value:

In [17]:
q

False

In [18]:
q2 = bool(input("enter your value: "))

enter your value: vikas

In [19]:
q2

True

In [9]:
password = (input("Enter the password: ")

confirm_password = input("Enter the password again: ")

Enter the password: vikas
Enter the password again: vikas

In [10]:
password == confirm_password    # here i got the boolean value i.e true

True

In [11]:
type(password)

str

In [5]:
para = '''
My name is Vikas Chaudhary.
I'm your teacher. 
Who is ging to clear your all basics of Python for data science.
'''

In [6]:
print(para)

My name is Vikas Chaudhary.
I'm your teacher.
Who is ging to clear your all basics of Python for data science.