# Data Types

In [1]:
# Basic/universal datatypes - int, float, char/str, boolean

i = 10
j = 45.5
k = "I'm Vikas Chaudhary"
m = True
L = False

### Collective Datatypes: 

<br>

IMMUTABLE datatypes - can not change --> strings, tuple 

<br>

MUTABLE datatypes - changeable --> list, sets, dictionary

## IMMUTABLE datatypes

### 1. String -   " " or ' '

In [1]:
s1 = "Hello World"

In [2]:
type(s1)

str

In [3]:
s1[0:5]

'Hello'

In [4]:
s1[1]= "h"

TypeError: 'str' object does not support item assignment

In [ ]:
# we can extract the data but we cannt make changes or update it

## 2. Tuple - () or , in end or nothing

#### it is set of heterogeneous/different datatypes

In [5]:
t1 = 12, 22.5, "vikas", True, False

In [6]:
type(t1)

tuple

In [7]:
t2 = (22, 22.5, "vivek", True, False)

In [8]:
type(t2)

tuple

In [9]:
t3 = 22, 22.5, "vivek", True, False,

In [10]:
type(t3)

tuple

In [11]:
t4 = "vikas",

type(t4)

tuple

In [12]:
t2[3]

True

In [13]:
t2[:4:2]

(22, 'vivek')

In [14]:
t2[2][2:5]    # double slicing / double indexing

'vek'

In [15]:
t2[2]="vikas"

TypeError: 'tuple' object does not support item assignment

In [16]:
# we can extract the data but we can't make changes or update it

## MUTABLE datatypes - changeable --> list, sets, dictionary

### 1. List - [ ]

Set of heterogeneous elements

In [17]:
list

list

In [2]:
list1 = [1,2,3,"hi",True,False,3,0,77.7]

In [3]:
list1[3]

'hi'

In [4]:
# append() - it adds a new element at the end of the list
# insert() - add a element in a specific index position
# pop()    - delete an element at particular index position
#remove()  - delete the element using name

## Append

In [5]:
list1.append("IIT Madras")

In [6]:
list1

[1, 2, 3, 'hi', True, False, 3, 0, 77.7, 'IIT Madras']

## Insert

In [7]:
list1.insert(4,"vikas")     # insert the vikas at 4th position

In [10]:
list1

[1, 2, 3, 'hi', 'vikas', True, False, 3, 0, 77.7, 'IIT Madras']

## Pop

In [11]:
list1.pop(4)       # removed 4th position i.e 'vikas'

'vikas'

In [12]:
list1

[1, 2, 3, 'hi', True, False, 3, 0, 77.7, 'IIT Madras']

## Remove

In [13]:
list1.remove("hi")

In [14]:
list1

[1, 2, 3, True, False, 3, 0, 77.7, 'IIT Madras']

In [15]:
list1.remove(77.7)

print(list1)

[1, 2, 3, True, False, 3, 0, 'IIT Madras']

In [16]:
# in list we can add, remove, indexing, slicing. everything

In [17]:
# NOTE: 1,0, True, False are a boolen values

# both 1 and True are treated as same
# both 0 and False are treated as same

In [18]:
list1.remove(1)

print(list1)

[2, 3, True, False, 3, 0, 'IIT Madras']

In [19]:
list1.remove(0)      # here it has removed false bcz 0 and false are same, so 1st appearing value is always removed

print(list1)

[2, 3, True, 3, 0, 'IIT Madras']

### 2. Dicitionary - { }

- It is a key value pair
<br>

- It doesn't support slicing and indexing
<br>

- key:    customized or a user defined position
<br>

- Value:  information/data
<br>

- Synatax:  dic_name = {key1: value1, key2: value2, key3: value3....}

In [34]:
dict

dict

In [35]:
dict1 = {"mango": 80, "apple": 150, "banana": 30, "Grapes": 70}

print(dict1)

{'mango': 80, 'apple': 150, 'banana': 30, 'Grapes': 70}

In [36]:
dict2 = {1: "vegetable", 2: "fruits", 3: "pluses", 4: "cereals"}

print(dict2)

{1: 'vegetable', 2: 'fruits', 3: 'pluses', 4: 'cereals'}

In [37]:
dict1["apple"]    # here key is apple and its cost/value is 150

150

In [38]:
dict2[fruits]     # we can only access the key and not their values

NameError: name 'fruits' is not defined

In [39]:
dict2[2]

'fruits'

In [40]:
# used to delete any key

del dict1["apple"]

In [41]:
print(dict1)

{'mango': 80, 'banana': 30, 'Grapes': 70}

In [42]:
# If i want to add element


dict1["Avacado"]=200

print(dict1)

{'mango': 80, 'banana': 30, 'Grapes': 70, 'Avacado': 200}

In [43]:
# if i have huge data and want to check keys and values:


dict1.keys()

dict_keys(['mango', 'banana', 'Grapes', 'Avacado'])

In [44]:
dict2.values()

dict_values(['vegetable', 'fruits', 'pluses', 'cereals'])

### 3. Sets -  { } 

Unordered list of elements, unindexed and it always have unique values of index
<br>

- set will allow duplicates
<br>  

- syntax: set_name = {elements}

In [45]:
s1 = {1,2,3,4,5,6,7,"hello","hi","hello",True, False, 0,1,0,3,9.0,22.22}

In [46]:
print(s1)

{False, 1, 2, 3, 4, 5, 6, 7, 'hello', 9.0, 22.22, 'hi'}

In [47]:
# here it removed all dublicates including boolian

### Difference b/w list and tuple

In [2]:
weeks1 = "sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "staturday"

In [3]:
type(weeks1)

tuple

In [7]:
weeks2 = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "staturday"]

In [8]:
type(weeks2)

list

In [9]:
weeks1[0] ="no holiday"     # in tuple we can't make any changes

TypeError: 'tuple' object does not support item assignment

In [14]:
weeks2[0] ="no holiday"      # but in list we can make any changes

In [13]:
print(weeks2)

['no holiday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'staturday']